// Primary element colors
$dark-primary-color: #232323;
$primary-color: #717171;
$light-primary-color: #b7b7b7;
$ultra-light-primary-color: #ececec;
$plain-color: #ffffff;

// Secondary element colors
$secondary-color: #e6f0e1;

// Text colors
$primary-text-color: #212121;
$secondary-text-color: #727272;

// Editor colors
$action-color: #536dfe;
