@import '~sass/mixins';
@import '~sass/colors';

$shell-padding: 16px;

.shell {
    @include fill;

    padding: $shell-padding;
    background-color: $app-background-color;
    display: flex;
    flex-flow: row;

    .project-explorer {
        flex: 0 1 450px;
        margin-right: $shell-padding / 2;
        overflow-y: auto;
    }

    .workspace {
        flex: 1 1 auto;
        width: 800px;
        margin-left: $shell-padding / 2;
        padding: 0;
    }
}
